<br>
<h1 style="text-align:center">New Article</h1>


<%= form_for @article do |f |%>
  <%= f.label :title, "Title" %>
  <%= f.text_field :title %>
<%= f.submit %>

<% end %>



<form action="Content"> Content</form>
<input type="textarea">


